<ion-modal-view>
    <ion-header-bar>
        <div class="bar bar-header">
            <h1 class="title">Configure macro</h1>
        </div>
        <div class="bar bar-subheader">
            <h2 class="title">Select calculation that serves as {{mode}}</h2>
        </div>
    </ion-header-bar>
    <ion-content  class="has-header has-subheader">
        <ion-list>
            <ion-item ng-repeat="calc in sheet.calculations  track by $index" ng-click="clickCalculation(calc)">
                <div>
                    <div class="listVarName"> {{calc.name}} </div>
                    <!--todo show calc names instead of values-->
                    <div class="listResolvedExpression" > <resolve-expression sheet="sheet" expression="calc.expression"></resolve-expression> </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-light">
        <div class="buttons">
            <button class="button button-assertive" ng-click="clickCalculation()">Cancel</button>
        </div>
        <span class="title">
        </span>
        <div class="buttons">
            <button class="button button-clear" ng-click="toggleInputOutput()">Toggle input/output</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
