<ion-modal-view>
    <ion-header-bar>
            <h1 class="title">Configure macro</h1>
    </ion-header-bar>
    <ion-content  >
        <ion-item>
            <h2 class="title">Select calculation that serves as {{mode}}:</h2>
        </ion-item>
        <ion-list>
            <ion-item ng-repeat="calc in sheet.calculations  track by $index" ng-click="clickCalculation(calc)">
                <div>
                    <div class="listVarName"> {{calc.name}} </div>
                    <div class="listResolvedExpression">
                        <resolve-expression sheet="sheet" expression="calc.expression" result="" display-calculation-name="true"></resolve-expression>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-light">
        <div class="buttons">
            <button class="button button-assertive" ng-click="clickCalculation()">Cancel</button>
            <button class="button button-clear" ng-click="clickClear()">Clear selection</button>
        </div>
        <span class="title">
        </span>
        <div class="buttons">
            <button class="button button-clear" ng-click="toggleInputOutput()">Toggle input/result</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
