<ion-modal-view>
    <ion-header-bar>
            <h1 class="title">Configure macro</h1>
    </ion-header-bar>
    <ion-content  >
        <ion-item>
            <h2 class="title">Select calculation that serves as {{mode}}:</h2>
        </ion-item>
        <ion-list>
            <ion-item ng-repeat="calc in sheet.calculations  track by $index" ng-click="clickCalculation(calc)" ng-style="selected(calc) && {'background-color':'#feba51'}">
                <div class="listVarName"> {{calc.name}}
                    <span ng-if="isInputCalc(calc)">(in)</span>
                    <span ng-if="isOutputCalc(calc)">(out)</span>
                </div>
                <div class="listResolvedExpression">
                    <resolve-expression sheet="sheet" expression="calc.expression" result="" display-calculation-name="true"></resolve-expression>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-light">
        <div class="buttons">
            <button class="button button-assertive" ng-click="clickCalculation()">Close</button>
        </div>
        <span class="title">
        </span>
        <div class="buttons">
            <button class="button button-clear" ng-click="toggleInputOutput()">Toggle input/output</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
