<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Select a calculation</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="calc in sheet.calculations  track by $index" ng-click="clickCalculation(calc)" ng-class="{ 'select-calc-disabled-row': notAllowedCalc===calc}">
                    <div class="listVarName"> {{calc.name}} </div>
                    <div class="listResolvedExpression" > <resolve-expression expression="calc.expression"></resolve-expression> = </div>
                    <div class="listResult"> {{calc.result|toFixedDecimals}} </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar bar-light">
        <div class="buttons">
            <button class="button button-assertive" ng-click="clickCalculation()" >Cancel</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
