<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Select a calculation</h1>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader bar-stable">
        <label class="item item-input item-select">
            <span class="input-label">
                Sheet:
            </span>
            <select ng-model="data.selectedSheet" ng-options="sheet as sheet.name for sheet in data.availableSheets | orderBy:['!favorite','updatedTimestamp']">
            </select>
        </label>
    </ion-header-bar>

    <ion-content>

        <ion-list>
            <ion-item ng-repeat="calc in data.selectedSheet.calculations | filter:allowedCalcFilter track by $index " ng-click="clickSelectCalculation(calc)">
                <div class="listVarName"> {{calc.name}} </div>
                <div class="listResolvedExpression" > <resolve-expression calculation="calc"></resolve-expression> </div>
            </ion-item>
        </ion-list>

    </ion-content>
    <ion-footer-bar class="bar bar-light">
        <div class="buttons">
            <button class="button button-assertive" ng-click="clickSelectCalculation()" >Cancel</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
