<!--
This template loads for the 'tab.sheet-detail' state (app.js)
'sheet' is a $scope variable created in the SheetsCtrl controller (sheetsCtrl.js)
The SheetsCtrl pulls data from the Sheets service (service.js)
The Sheets service returns an array of sheet data
-->
<ion-view view-title="{{sheet.name}}" ng-click="console.log('klikt')">

    <!--class bar-subheader is nodig om ervoor te zorgen dat ie onder de navbar komt van de ion-view-->
    <ion-header-bar class="bar-positive bar-subheader" style="background-color: #feba51">
            <div class="buttons" >
                <button class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete = !showDelete; showReorder = false">
                    Delete
                </button>
            </div>
        <h1 class="title"></h1>
            <div class="buttons">
                <button class="button button-icon ion-ios-shuffle" ng-click="showDelete = false; showReorder = !showReorder">
                    Reorder
                </button>
            </div>
    </ion-header-bar>

  <ion-content class="has-header">
      <ion-list
                show-delete="showDelete"
                show-reorder="showReorder"
                can-swipe="true">
          <!--moet can-swipe niet op false staan? -->
          <!--consider ionic's collection-repeat-->
          <ion-item class="item-remove-animate item-icon-right item-button-right calc-item " style="padding:0px" ng-repeat="calc in sheet.calculations track by calc.id" >
               <span ng-click="navigateToCalculator(calc)" class="row" style="padding: 0px;background-color: transparent">
                   <span class="col col-90 ">
                  <resolve-expression sheet="sheet" index="$index"></resolve-expression>
                   </span>
                   <span class="col col-10">
                   <button class="button  button-small">...
                   </button>
                   </span>
                  <ion-option-button class="button-info"
                                     ng-click="showRenamePopup(calc)">
                      Rename
                  </ion-option-button>
                  <ion-delete-button class="ion-minus-circled" ng-click="deleteCalculation($index)">
                  </ion-delete-button>
                  <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                  </ion-reorder-button>
              </span>

          </ion-item>
      </ion-list>
  </ion-content>

    <ion-footer-bar align-title="left" class="bar-light">
        <div class="buttons">
            <button class="button" ng-click="showDelete = false; showReorder = false; newSheet()">New</button>
        </div>
        <!--dummy element ivm uitlijning-->
        <h1 class="title"></h1>
        <!--dit hieronder kunnen we tzt gebruiken om wel/niet de calc names te tonen-->
        <!--<div class="buttons">-->
            <!--<label class="toggle toggle-energized" style="float: right;">-->
                <!--<input type="checkbox" ng-model="showResolvedExpression" >-->
                <!--<div class="track">-->
                    <!--<div class="handle"></div>-->
                <!--</div>-->
            <!--</label>-->
        <!--</div>-->
    </ion-footer-bar>
</ion-view>
