<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <span class="item" >
                <b>Select display options</b>
            </span>
            <!--todo: vinkje ervoor plaatsen-->
            <a class="item" ng-click="setSheetDisplayOption('n')"  target="_blank">
                Full
            </a>
            <a class="item" ng-click="setSheetDisplayOption('i')" target="_blank">
                Epxression style
            </a>
            <a class="item" ng-click="setSheetDisplayOption('e')" target="_blank">
                Expense style
            </a>
            <a class="item" ng-click="setSheetDisplayOption('00')" target="_blank">
                <span ng-class="(sheet.numberDisplayOption.maximumFractionDigits)?'':'disabled-class'">
                .00
                </span>
            </a>
            <!--todo: de grafiek lijntjes ook een optie maken-->
            <!--todo: de sum ook een optie maken-->
        </div>
    </ion-content>
</ion-popover-view>