<!--
This template loads for the 'tab.sheet-detail' state (app.js)
'sheet' is a $scope variable created in the SheetsCtrl controller (sheetsCtrl.js)
The SheetsCtrl pulls data from the Sheets service (service.js)
The Sheets service returns an array of sheet data
-->
<ion-view >
    <!--we use nav-title to work around a bug with title-view being incorrectly updated-->
    <ion-nav-title>
         <div ng-click="renameSheet()">{{sheet.name}}</div>
    </ion-nav-title>

    <!--class bar-subheader is nodig om ervoor te zorgen dat ie onder de navbar komt van de ion-view-->
    <ion-header-bar class="bar-positive bar-subheader" style="background-color: #feba51">
            <div class="buttons" >
                <button class="button button-icon icon ion-ios-minus-outline" ng-click="showDelete = !showDelete; showReorder = false">
                    Delete
                </button>
            </div>
        <h1 class="title"></h1>
            <div class="buttons">
                <button class="button button-icon ion-ios-shuffle" ng-click="showDelete = false; showReorder = !showReorder">
                    Reorder
                </button>
            </div>
    </ion-header-bar>

  <ion-content class="has-header">
      <ion-list
                show-delete="showDelete"
                show-reorder="showReorder"
                can-swipe="true">


          <!--consider ionic's collection-repeat-->
          <div ng-if="!showCalcCreatedTime">
              <ion-item class="item-icon-right item-button-right calc-item" ng-repeat="calc in sheet.calculations track by calc.id"  >
                   <span class="row rowCalc">
                       <span class="col col-90" ng-click="navigateToCalculator(calc)">
                            <resolve-sheet sheet="sheet" index="$index"></resolve-sheet>
                       </span>
                       <span class="col col-10">
                            <button class="button button-clear ion-ios-more" ng-click="showEditMenu(calc)"></button>
                       </span>
                  </span>
                  <ion-delete-button class="ion-minus-circled" ng-click="deleteCalculation($index)">
                  </ion-delete-button>
                  <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                  </ion-reorder-button>
              </ion-item>
          </div>

          <div ng-if="showCalcCreatedTime">
              <ion-item class="item-icon-right item-button-right calc-item" ng-repeat="calc in sheet.calculations track by calc.id">
                   <span class="row rowCalc">
                       <span class="col col-30" ng-click="navigateToCalculator(calc)">
                           {{calc.name}}<br>
                           <small>{{calc.createdTimestamp|toDate}}</small>
                       </span>
                       <span class="col col-60" ng-click="navigateToCalculator(calc)" style="text-align: right">
                           <!--<resolve-expression sheet="sheet" expression="calc.expression" result="calc.result" display-calculation-name="false"></resolve-expression>-->
                           {{calc.result|toFixedDecimals}}
                       </span>
                       <span class="col col-10">
                            <button class="button button-clear ion-ios-more"  ng-click="showRenamePopup(calc)"></button>
                       </span>
                  </span>
                   <span class="row rowBar">
                       <div ng-style="{'width': '{{calc.result/sheet.max * 100}}%', 'background-color': 'blue'}"></div>
                   </span>
                  <ion-delete-button class="ion-minus-circled" ng-click="deleteCalculation($index)">
                  </ion-delete-button>
                  <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
                  </ion-reorder-button>
              </ion-item>
          </div>

          <ion-item ng-if="sheet.hasSum" style="padding:0px" >
                  <span class="row calc-item rowSum">
                      <span class="col col-90">Sum</span>
                      <span class="col col-10">{{sheet.sum|toFixedDecimals}}</span>
                  </span>
                  <span class="row calc-item rowSum">
                      <span class="col col-90">Max</span>
                      <span class="col col-10">{{sheet.max|toFixedDecimals}}</span>
                  </span>
          </ion-item>

      </ion-list>
  </ion-content>

    <ion-footer-bar align-title="center" class="bar-light">
        <ion-toggle id="btn-bar-toggle" ng-model="showCalcCreatedTime" style="border:none;" toggle-class="toggle-energized"></ion-toggle>
        <span class="title">
            <button class="button button-clear ion-ios-more" ng-click="showDelete = false; showReorder = false; showActionSheet()"></button>
        </span>
        <div class="buttons">
            <div class="button button-clear" ng-class="{'button-energized': sheet.hasSum}" ng-click="toggleSum()">Sum</div>
        </div>
    </ion-footer-bar>
</ion-view>
