<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <span class="item" >
                <b>Select display options</b>
            </span>
            <a class="item" ng-click="setSheetDisplayOption('ext')"  target="_blank">
                Extended style
                <i ng-show="!sheet.displayOptions.style || sheet.displayOptions.style=='ext'" class="icon ion-checkmark"></i>
            </a>
            <a class="item" ng-click="setSheetDisplayOption('expr')" target="_blank">
                Expression style
                <i ng-show="sheet.displayOptions.style=='expr'" class="icon ion-checkmark"></i>
            </a>
            <a class="item" ng-click="setSheetDisplayOption('cond')" target="_blank">
                Condensed style
                <i ng-show="sheet.displayOptions.style=='cond'" class="icon ion-checkmark"></i>
            </a>
            <a class="item" ng-click="toggleSum()" target="_blank">
                Sum
                <i ng-show="sheet.displayOptions.showSum" class="icon ion-checkmark"></i>
            </a>
            <a class="item" ng-click="toggleDecimals()" target="_blank">
                .00
                <i ng-show="sheet.numberDisplayOption.minimumFractionDigits" class="icon ion-checkmark"></i>
            </a>
            <a class="item" ng-click="toggleShowGraphBar()" target="_blank">
                Bar
                <i ng-show="sheet.displayOptions.showGraphBar" class="icon ion-checkmark"></i>
            </a>
        </div>
    </ion-content>
</ion-popover-view>