<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <span class="item" >
                <b>Select a view style</b>
            </span>
            <a class="item" ng-click="setSheetDisplayOption('n')"  target="_blank">
                Normal
            </a>
            <a class="item" ng-click="setSheetDisplayOption('e')" target="_blank">
                Name: value
            </a>
            <a class="item" ng-click="setSheetDisplayOption('i')" target="_blank">
                Epxression : value
            </a>
        </div>
    </ion-content>
</ion-popover-view>