<ion-view view-title="History">
  <ion-content>
    <ion-list>
        <!--een href gebruiken maakt de lay-out niet goed, vandaar een ng-click-->
      <ion-item class="list card" style="padding: 0px"  ng-repeat="sheet in sheets track by $index">

          <div class="item item-divider"
               ng-class="{activeSheet: getActiveSheetId() === sheet.id, inactiveSheet: getActiveSheetId() !== sheet.id}"
               ng-click="gotoSheet(sheet)" >
              <span ng-click="showRenamePopup(sheet); $event.stopPropagation();">
                {{sheet.name}} <span ng-show="getActiveSheetId() === sheet.id">(active)</span>
              </span>
              <br>
              <span style="font-weight: lighter;font-size: small">last updated {{sheet.updatedTimestamp | toDate }} </span>
          </div>

          <div ng-click="gotoSheet(sheet)">
              <div class="row"  ng-repeat="calc in sheet.calculations" style="background-color: white">
                  <div class="col sheetsCol" style="text-align: left">{{calc.varName}}</div>
                  <div class="col sheetsCol" style="text-align: right">{{calc.result|toFixedDecimals}}</div>
              </div>
              <div class="row rowSum" ng-if="sheet.hasSum">
                  <div class="col sheetsCol" style="text-align: left"></div>
                  <div class="col sheetsCol" style="text-align: right">Sum: {{sheet.sum|toFixedDecimals}}</div>
              </div>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#" ng-click="toggleSheetFavorite(sheet)">
                  <i class="icon ion-star ng-class:{'favoriteOn': sheet.favorite}"></i>
                  Favorite
              </a>
              <a class="tab-item" href="#" ng-click="confirmDeleteSheet(sheet)">
                  <i class="icon ion-trash-b"></i>
                  Delete
              </a>
              <a class="tab-item" href="#" ng-click="shareSheet(sheet)">
                  <i class="icon ion-share"></i>
                  Share
              </a>
          </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
