<ion-view>

    <!--we use nav-title to work around a bug with title-view being incorrectly updated-->
    <ion-nav-title>
        <div>{{sheet.name}}</div>
    </ion-nav-title>


    <!--padding class zorgt ervoor dat de achtergrond kleur om de calculator zichtbaar is-->
  <ion-content class="calculator" scroll="false">

      <div class="row calc-row-big" ng-if="macroMode">
          <div class="col col-100">
              <div class="expression">
                  <span class="expression-inline-text">
                      Result {{sheet.outputCalculation.name}} based on {{sheet.inputCalculation.name}} = {{sheet.inputCalculation.result|toFixedDecimals}}
                  </span><span class="expression-macro-panel">
                        <span class="expression-macro-value">
                            {{sheet.outputCalculation.result|toFixedDecimals}}
                        </span><span class="expression-button">
                            <button class="button button-clear button-assertive ion-stop macro-stop-button" ng-click="cancelMacroMode()"></button>
                        </span>
                    </span>
              </div>
          </div>
      </div>

      <div class="row calc-row-big" ng-if="!macroMode">
             <div class="col col-100">
                <div class="expression">
                    <div class="expression-normal-value">
                        <span class="expression-items">
                            <ion-scroll direction="x" class="wide-as-needed">
                                <resolve-expression expression="expression" result="result">
                                </resolve-expression>
                            </ion-scroll>
                            <!--geen spaties tussen de span elements hieronder !! -->
                            <!--de spans zijn nodig om hide/show flikker te beteugelen-->
                        </span><span class="expression-button"><span ng-hide="result === null || editMode">
                                <button class="button button-clear button-positive ion-pin rename-calc-button" ng-click="touchRemember()"></button>
                            </span><span ng-show="editMode">
                                <button class="button button-clear button-assertive ion-close cancel-edit-button" ng-click="cancelEditMode()"></button>
                            </span>
                        <!--deze span hoort er wel bij-->
                        </span>
                    </div>
                </div>
             </div>
      </div>


        <div class="row calc-row-big">
            <div class="col col-100">
                <div class="display">
                    <span class="display-inline">
                        <!--no spaces between spans otherwise lay-out is broken-->
                        <span class="display-inline-text">
                            <span ng-if="macroMode">Enter new value for {{sheet.inputCalculation.name}}:</span>
                            <span ng-if="editMode">Edit {{editCalc.name}}: <resolve-expression expression="editCalc.expression" result="" display-calculation-name="true"></resolve-expression></span>
                        </span><span class="display-inline-operator">{{operatorStr}}
                    </span>
                    </span><span class="display-input">
                        <span class="display-input-text"><resolve-input-display numberstr="display"></resolve-input-display></span>
                    </span>
                </div>
            </div>
        </div>


        <div class="row calc-row">
          <div class="col"><button class="calculator-btn calculator-btn-small-text" ng-click="touchRecall()">Recall</button></div>
          <div class="col"><button class="calculator-btn calculator-btn-small-text" ng-click="reset()">Clear</button></div>
          <div class="col"><button class="calculator-btn calculator-btn-small-text" ng-click="selectOperator()"><i>f</i>(x)</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDelete()">⌫</button></div>
        </div>

        <div class="row calc-row">
          <div class="col"><button class="calculator-btn calculator-btn-small-text" ng-click="touchOpenBracket()">(</button></div>
          <div class="col"><button class="calculator-btn calculator-btn-small-text" ng-click="touchCloseBracket()">)</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchPlusMinOperator()">±</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchOperator('/')">/</button></div>
        </div>

        <div class="row calc-row">
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(7)">7</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(8)">8</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(9)">9</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchOperator('x')">x</button></div>
        </div>

        <div class="row calc-row">
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(4)">4</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(5)">5</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(6)">6</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchOperator('-')">-</button></div>
        </div>

        <div class="row calc-row">
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(1)">1</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(2)">2</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDigit(3)">3</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchOperator('+')">+</button></div>
        </div>

        <div class="row calc-row">
          <div class="col col-50"><button class="calculator-btn" ng-click="touchDigit(0)">0</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchDecimalSeparator()">.</button></div>
          <div class="col"><button class="calculator-btn" ng-click="touchEqualsOperator()">=</button></div>
        </div>

        <div class="row calc-row-bottom">
        </div>

  </ion-content>
</ion-view>
