<ion-view view-title="Settings">
    <ion-content>
        <div style="padding: 3%;padding-bottom: 80px">
            <small style="float:right">Version 1.01.08</small>
            <h3><i class="icon ion-ios-information"></i> Terms & Conditions</h3>
            <div style="display:inline-block;float: left;padding-bottom: 20px">
                This application is for personal use only. This is application is a hobby project and although a lot of
                effort has gone into verification, it will contain bugs.
                I will not be responsible or liable, directly or indirectly, in
                any way for any loss or damage of any kind incurred as a result of using this application. Please do
                not use this application if you do not accept these terms of use.
            </div>
            <h3><i class="icon ion-ios-trash"></i> Trash</h3>
            <div style="display:inline-block;float: left;padding-bottom: 20px">
                A sheet is automatically removed after 30 days unless the sheet is marked as favorite.
                Mark a sheet as favorite in case you do not want to loose it.
            </div>

            <!--consider to show the number of sheets in use-->
            <button class="button button-assertive" ng-click="deleteAllSheets()" style="display:inline-block">
                Delete sheets
            </button>
            <br>&nbsp;
            <ion-toggle ng-model="settings.includeFavoriteSheets" toggle-class="toggle-assertive"
                        style="display:inline-block;float: left; border: none">
                Also delete favorite sheets
            </ion-toggle>
            <!--empty div for toggle text-->
            <div></div>
        </div>

        <div style="padding: 3%;">
        Example of a localised number: {{1234.56|toFixedDecimals}}
        </div>

    </ion-content>
</ion-view>
