<ion-view view-title="Calculator">
    <!--padding class zorgt ervoor dat de achtergrond kleur om de calculator zichtbaar is-->
  <ion-content class="calculator" scroll="false">


         <div class="row">
             <div class="col col-90">
                <div class="expression">
                    <span class="text text_expression">
                    {{expression|resolve}} <span ng-show="result">= {{result}}</span>
                </span>
                </div>
             </div>
             <div class="col col-10">
                 <!--de indexOf is bit of a hack-->
                 <button class="calculator-btn ion-pin" ng-disabled="expression.indexOf('=') < 0 " ng-click="touchRemember()">
                 </button>
             </div>
         </div>

        <div class="row">
            <div class="col col-90">
                <div class="display"> <span class="text">{{display}}</span> </div>
            </div>
            <div class="col col-10">
                <div class="operatorStr"><span class="text">{{ operatorStr}} </span> </div>
            </div>
        </div>


        <div class="row">
          <div class="col"><div class="calculator-btn small-calculator-btn" ng-click="touchRecall()">Recall</div></div>
          <div class="col"><div class="calculator-btn small-calculator-btn" ng-click="reset()">Clear</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchOperator('%')">%</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDelete()">⌫</div></div>
        </div>

        <div class="row">
          <div class="col"><div class="calculator-btn" ng-click="touchOpenBracket()">(</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchCloseBracket()">)</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchPlusMinOperator()">±</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchOperator('/')">/</div></div>
        </div>

        <div class="row">
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(7)">7</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(8)">8</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(9)">9</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchOperator('*')">*</div></div>
        </div>

        <div class="row">
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(4)">4</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(5)">5</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(6)">6</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchOperator('-')">-</div></div>
        </div>

        <div class="row">
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(1)">1</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(2)">2</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchDigit(3)">3</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchOperator('+')">+</div></div>
        </div>

        <div class="row">
            <!--de col-50 heeft een side-effect dat de tekst zakt-->
          <div class="col col-50"><div class="calculator-btn" style="padding-top: 5%;" ng-click="touchDigit(0)">0</div></div>
          <div class="col"><div class="calculator-btn"  ng-click="touchDecimalSeparator()">.</div></div>
          <div class="col"><div class="calculator-btn" ng-click="touchEqualsOperator()">=</div></div>
        </div>

  </ion-content>
</ion-view>
