<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <!--<ion-item >-->
          <!--Time to create a new sheet-->
            <!--<div class="item range range-positive">-->
                <!--1 minute-->
                <!--<input type="range" name="volume" min="0" max="100" value="33">-->
                <!--100 minutes-->
            <!--</div>-->
      <!--</ion-item>-->
      <ion-item >
          <button class="button button-assertive" ng-click="deleteAllSheets()">
              Delete all sheets
          </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
