<ion-view view-title="Settings">
    <ion-content>
        <div style="padding: 3%;padding-bottom: 40px; border-bottom: thin dotted #ffe031;">
            <h2>Trash</h2>
            <!--consider to show the number of sheets in use-->
            <button class="button button-assertive" ng-click="deleteAllSheets()" style="display:inline-block">
                Delete sheets
            </button>
            <br>&nbsp;
            <ion-toggle ng-model="settings.includeFavoriteSheets" toggle-class="toggle-assertive"
                        style="display:inline-block;float: left; border: none">
                Include favorite sheets
            </ion-toggle>
            <!--empty div for toggle text-->
            <div></div>
            <br>
            <h3>Note</h3>
            A sheet is automatically removed after 30 days unless the sheet is marked as favorite.
            Mark a sheet you do not want loose as favorite.
        </div>
        <div style="padding: 3%">
            <h2>Feedback</h2>
            Missing features? Bugs?
            We welcome feedback, so don't hesitate.
            <br>
            <br>
            <button class="button button-positive" ng-click="sendFeedback()">Send feedback</button>
        </div>
    </ion-content>
</ion-view>
