# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# per ongeluk is de hooks folder ingecheckt
# per ongeluk is de www/lib/ folder ingechekt

node_modules/
hooks/
platforms/
plugins/
.idea/workspace.xml
.idea/misc.xml
resources/resources.iml
