<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.calcworks783766" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Calcworks</name>
  <description>
        A calculator with a history.
    </description>
  <author email="stephanwesten@gmail.com" href="http://ionicframework.com/">
      Stephan Westen
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <icon src="resources/calculator-icon.png"/>
    <splash src="resources/Default.png" width="320" height="480"/>
    <splash src="resources/Default@2x.png" width="640" height="960"/>
    <splash src="resources/Default-568h@2x.png" width="640" height="1136"/>
    <splash src="resources/Default-667h@2x.png" width="750" height="1334"/>
    <splash src="resources/Default-Landscape.png" width="1024" height="768"/>
    <splash src="resources/Default-Landscape@2x.png" width="2048" height="1536"/>
    <splash src="resources/Default-Landscape-736h@3x.png" width="2208" height="1242"/>
    <splash src="resources/Default-Portrait.png" width="768" height="1024"/>
    <splash src="resources/Default-Portrait@2x.png" width="1536" height="2048"/>
    <splash src="resources/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
  </platform>
</widget>