
.calculator {
    background-color: rgba(254, 186, 81, 0.6);

}

.calc-row-big {
    height: 17%;
    background-color: #feba51;
    padding-bottom: 2%;
}
/* 2 x 17 = 34 */

.calc-row {
    height: 12%;
    background-color: #feba51;
}
/* 6 x 12 = 72 */


/* col z'n height moet gezet worden ivm children*/
.col {
    height: 100%
}


.expression {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    box-shadow: inset 1px 1px 3px #999;
    /*zorg ervoor dat de expressie items (span elements) op dezelfde regel blijven echter gaf problemen, nog fixen*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

.expression-inline-text {
    display: inline-block;
    height: 40%;
    width: 100%;
    padding-left: 1%;
    font-size: small;
    background-color: rgba(179, 179, 179, 0.18);
}

.expression-normal-value {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-top: 5%;
    padding-left: 1%;
    font-size: 120%;
}

.expression-macro-value {
    display: inline-block;
    height: 62%;
    text-align: right;
    width: 100%;
    font-size: 200%;
    padding: 1%;
}

.expression-btn-area {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.expression-btn {
    height: 80%;
    width: 100%;
    background-color: white;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    margin-top: 20%;
}


.expression-btn-assertive {
    color: red;
}



.display {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #e4e4e4;
    box-shadow: inset 1px 1px 3px #999;
}

.display-inline-text {
    display: inline-block;
    height: 30%;
    width: 91%;
    padding-left: 1%;
    font-size: small;
    background-color: rgba(179, 179, 179, 0.18);
}

.display-inline-operator {
    display: inline-block;
    height: 30%;
    width: 9%;
    font-size: small;
    vertical-align: top;
    padding-right: 1%;
    text-align: right;
    background-color: rgba(179, 179, 179, 0.18);
}

.display-input {
    display: inline-block;
    /*bij meer dan 62% wordt dit blok te hoog en overlapt ie aan de onderkant*/
    height: 62%;
    text-align: right;
    width: 100%;
    font-size: 200%;
    padding-right: 1%;
    padding-bottom: 1%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*deze class zorgt ervoor dat de input verticaal goed gepositioneerd wordt*/
.display-input-text {
    position: relative;
    top: 1%;
}

/*
.operator {
    display: inline-block;
    height: 60%;
    width: 100%;
    margin-top: 50%;
    text-align: center;
    color: #5d5d5d;
    font-size: x-large;
    background-color: #e4e4e4;
    box-shadow: inset 0px 1px 3px #999;
}

.operator-text {
    position: relative;
    top: 15%;
}
*/


.calculator-btn {
    display: inline-block;
    margin:0;
    padding:0;
    height: 80%;
    width: 100%;
    transition: background-color 0.2s ease;
    color: #575757;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
    top: 0%;
    font-size: x-large;
    text-align: center;
}

/* de tekst moet in het verticale midden van de btn zitten*/
.calculator-btn-text {
    position: relative;
    top: 25%;
}

.calculator-btn:active {
    background-color: #9d9d9d;
}

.calculator-btn:disabled {
    color: #d3d3d3;
}

.small-calculator-btn {
    font-size: large;
}


/* favorite icon color when selected */
.favoriteOn {
    color: #eed508
}

/* select calculation dialog */
.listVarName {
    display:inline-block;
    width: 30%;
    text-align: left
}

.listResolvedExpression {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    text-align: right
}

.listResult {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 20%;
    text-align: right
}

/* configure macro dialog */
.confMacroIcon {
    display:inline-block;
    width: 5%;
    text-align: left
}

.confMacroCalcName {
    display:inline-block;
    width: 30%;
    text-align: left
}

.confMacroResolvedExpression {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 65%;
    text-align: right;
    padding-right: 1%;
}

.confMacroHeader {
    background-color: #feba51;
}

.sheetsCol {
    text-align: right;
    /*text overflow*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inactiveSheet {
    background-color: rgba(254, 186, 81, 0.6);
}

.activeSheet {
    background-color: #feba51;
}

.calc-item {
    margin-left: 0px;
    margin-right: 0px;
    left: 0px;
    right: 0px;
}

/*geef de rows in de active sheet geen padding*/
ion-item.calc-item div.item-content {
    padding: 0px
}


.itemExpr{
    padding-left: 2px;
    padding-right: 2px;
}

.calcNameExpr {
    font-size: small;
    position: relative;
    margin-left: -3px;
    vertical-align: super;
    z-index: 100;
}

.expressionTable tr {
    padding: 0px;
    margin: 0px;
}

.rowCalc {
    padding: 0px;
    background-color: transparent;
}

.rowSum {
    background-color: rgba(236, 236, 236, 0.2);
    border-top-color: #b7b7b7;
    border-top-width: 1px;
    border-top-style: solid;
}

.rowBar {
    padding: 0px;
    background-color: lightgrey;
    height: 1px
}


/* copied from ionic's .item-input-inset without the padding.
   this (display) style is needed to get the input field and clear (x) button on the same row */
.input-button-same-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/*the following two classes are a trick to get the ion-toggle higher in the button-bar*/

#btn-bar-toggle label.toggle {
    margin-top: -10px;
    padding-top: 0px;
}
#btn-bar-toggle div.handle {
    margin-top: -5px;
}

.select-calc-disabled-row {
    color: grey;
}