
.calculator {
    background-color: rgba(254, 186, 81, 0.6);

}

.row {
    height: 13%;
    background-color: #feba51;
    /*border: 1px solid lightgrey;*/
}

/* col z'n height moet gezet worden ivm children*/
.col {
    height: 100%
}


.text {
    /*vertical center align*/
    position: relative;
    top: 40%;
    /*transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-80%);*/
}


.expression {
    display:inline-block;
    vertical-align: middle;
    /*text overflow*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    background-color: #e4e4e4;
    /*vertical center align*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    /* iets kleiner dan de display*/
    height: 80%;
    font-size: 20px;
    text-align: left;
    box-shadow: inset 1px 1px 3px #999;
}

.text_expression {
    padding-left: 1%;
}

.display {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    font-size: 35px;
    text-align: right;
    width: 100%;
    background-color: #e4e4e4;
    padding-right: 1%;
    /*vertical center align*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    /*padding-bottom: 3%;*/
    /*padding top is nodig om de tekst te laten zakken*/
    /*padding-top: 5%;*/
    box-shadow: inset 1px 1px 3px #999;
}

.operatorStr {
    display: inline-block;
    height: 100%;
    text-align: center;
    color: #5d5d5d;
    font-size: 30px;
    width: 100%;
    background-color: lightgrey;
    /*vertical align*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    box-shadow: inset 0px 1px 3px #999;
}


/*
 de verticale alignment is door de line-height gedaan.
*/
.calculator-btn {
    display: inline-block;
    margin:0;
    padding:0;
    height: 80%;
    width: 100%;
    transition: background-color 0.2s ease;
    color: #575757;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    /*vertical center align*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    /*padding top is nodig om de tekst te laten zakken*/
    padding-top: 10%;
    font-size: x-large;
    text-align: center;
}

.calculator-btn:active {
    background-color: #9d9d9d;
}

.calculator-btn:disabled {
    color: #d3d3d3;
}

.small-calculator-btn {
    font-size: large;
}

/* favorite icon color when selected */
.favoriteOn {
    color: #eed508
}
 /* select calculation dialog */
.listVarName {
    display:inline-block;
    width: 30%;
    text-align: left
}

.listResolvedExpression {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    text-align: right
}

.listResult {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 20%;
    text-align: right
}

.sheetsCol {
    text-align: right;
    /*text overflow*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.calc-item {
    background-color: #0a9ec7;
    margin-left: 0px;
    margin-right: 0px;
    left: 0;
    right: 0;
}

.itemExpr{
    padding-left: 2px;
    padding-right: 2px;
}

.calcNameExpr {
    font-size: small;
    position: relative;
    margin-left: -3px;
    vertical-align: super;
    z-index: 100;
}

.expressionTable tr {
    padding: 0px;
    margin: 0px;
}