
.calculator {
    /* background-color: rgba(254, 186, 81, 0.6); */
    background-color: #feba51;
}

.calc-row-big {
    height: 17%;
    padding-bottom: 2%;
}
/* 2 x 17 = 34 */

.calc-row {
    height: 12%;
}
/* 6 x 12 = 72 */


/* ipad; heeft meer ruimte aan de onderkant nodig - voordat de tabs beginnen
   dit komt doordat de ruimte tussen de rijen zo groot wordt dat de ruimte onder
   de laatste rij visueel te klein wordt.
   Dit zou met CSS beter moeten kunnen zodat je geen aparte regel voor iPad nodig hebt.
   Iets met twee containers, eentje voor de buttons en eentje als separator.
    */
@media (min-width: 700px)  {

    .calc-row {
        height: 11%;
    }

    .calc-row-bottom {
        height: 1%;
    }
}

/* col z'n height moet gezet worden ivm children*/
.col {
    height: 100%
}

.display,
.expression {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    box-shadow: inset 1px 1px 3px #999;
    /*zorg ervoor dat de expressie items (span elements) op dezelfde regel blijven echter gaf problemen, nog fixen
    overflow: hidden;
    white-space: nowrap;*/
}


.expression-inline-text {
    display: inline-block;
    /* height: 40%; */
    width: 100%;
    padding-left: 1%;
    font-size: small;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(179, 179, 179, 0.18);
    vertical-align: bottom;
}

.expression-macro-value,
.expression-normal-value {
    display: inline-block;
    width: 100%;
    padding-left: 1%;
    /* line-height is nodig om de twee inline blocks vertical aligned te krijgen */
    line-height: 300%;
}

/* ipad; maak een aantal css classes die hierboven staan en een paar algemene wat groter */
@media (min-width: 700px)  {

    /* maak de tabs wat hoger (van 49 naar 53 pixels en de titel font wat groter */
    .tabs {
        height: 53px;
    }

    .tab-title {
        font-size: 140%;
    }

    /* zorg dat de teksten iets later zitten omdat de hoogte van de inline bar hoger is.
       Deze oplossing voelt niet goed aan; de teksten moeten een vaste hoogte tov de onderkant hebben */
    .expression-inline-text {
    }

    .expression-normal-value {
        height: 100%;
        font-size: 240%;
    }

    /* maak de iconen groter en zorg dat ze verticaal halverwege op de row staat  */
    .cancel-edit-button,
    .rename-calc-button {
        font-size: 120%;
        /* vertical positioning  (ik heb  top: 50%;  weggehaald, was niet nodig */
         position: relative;
         transform: translateY(50%);
    }

}

@media (max-width: 700px)  {
    .expression-normal-value {
        height: 100%;
        font-size: 120%;
    }
}

.expression-macro-value {
    height: 70%;
    text-align: right;
    /* door het font groter te maken, neemt het block meer verticale ruimte in
       bij 150% overlapt ie al */
    font-size: 140%;
    line-height: 200%;
}

/* ipad - macro mode; groter font bij de expressie en groter stop icon */
@media (min-width: 700px)  {

    .expression-macro-value {
        font-size: 240%;
    }

    .macro-stop-button {
        font-size: 120%;
    }

}




.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.expression-items {
    display: inline-block;
    width: 85%;
}

.expression-button {
    display: inline-block;
    width: 15%;
    /* this vertical-align:top; is important otherwise text baseline is used to vertically align
       resulting in a shift down for the buttons */
    vertical-align:top;
    /* voor de ipad moet de pin btn zoveel naar rechts */
    text-align: right;
}

.display-inline {
    display: inline-block;
    height: 30%;
    width: 100%;
    vertical-align: top;
    font-size: small;
    background-color: rgba(179, 179, 179, 0.18);
}

.display-inline-operator,
.display-inline-text {
    padding-left: 1%;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.display-inline-text {
    display: inline-block;
    width: 91%;
    padding-left: 1%;
}

.display-inline-operator {
    display: inline-block;
    width: 9%;
    padding-right: 1%;
    text-align: right;
}

.display-input {
    display: inline-block;
    /*bij meer dan 62% wordt dit blok te hoog en overlapt ie aan de onderkant*/
    height: 62%;
    text-align: right;
    width: 100%;
    padding-right: 1%;
    padding-bottom: 1%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* deze class zorgt ervoor dat de input verticaal goed gepositioneerd wordt*/
/* ipad */
@media (min-width: 700px)  {

    .display-input-text {
        position: relative;
        top: 40%;
        font-size: 300%;
        padding-top: 2%;
    }


}

@media (max-width: 700px)  {
    .display-input-text {
        position: relative;
        top: 10%;
        font-size: 200%;
    }
}

.calculator-btn {
    display: inline-block;
    margin:0;
    padding:0;
    height: 80%;
    width: 100%;
    transition: background-color 0.2s ease;
    color: #575757;
    background-color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    top: 0%;
    font-size: x-large;
}

/* voor de iphone passen  (  )   ±  niet goed, dus kleiner font. Voor iPad definieren we deze class niet */
@media (max-width: 700px)  {
    .calculator-btn-small-text {
        font-size: large;
    }
}

.calculator-btn:active {
    background-color: #9d9d9d;
}

.calculator-btn:disabled {
    color: #d3d3d3;
}


/* favorite icon color when selected */
.favoriteOn {
    color: #eed508
}

/* select calculation dialog */
.listVarName {
    display:inline-block;
    width: 30%;
    text-align: left
}

.listResolvedExpression {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    text-align: right
}

.listResult {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 20%;
    text-align: right
}

/* configure macro dialog */
.confMacroIcon {
    display:inline-block;
    width: 5%;
    text-align: left
}

.confMacroCalcName {
    display:inline-block;
    width: 30%;
    text-align: left
}

.confMacroResolvedExpression {
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 65%;
    text-align: right;
    padding-right: 1%;
}

.confMacroHeader {
    background-color: #feba51;
}

.sheetsCol {
    text-align: right;
    /*text overflow*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inactiveSheet {
    background-color: rgba(254, 186, 81, 0.6);
}

.activeSheet {
    background-color: #feba51;
}

.calc-item {
    margin-left: 0px;
    margin-right: 0px;
    left: 0px;
    right: 0px;
}

/*geef de rows in de active sheet geen padding*/
ion-item.calc-item div.item-content {
    padding: 0px
}


.itemExpr{
    padding-left: 2px;
    padding-right: 2px;
}

.calcNameExpr {
    font-size: small;
    position: relative;
    margin-left: -3px;
    vertical-align: super;
    z-index: 100;
}

.expressionTable tr {
    padding: 0px;
    margin: 0px;
}

.rowCalc {
    padding: 0px;
    background-color: transparent;
}

.rowSum {
    background-color: rgba(236, 236, 236, 0.2);
    border-top-color: #b7b7b7;
    border-top-width: 1px;
    border-top-style: solid;
}

.rowBar {
    padding: 0px;
    background-color: lightgrey;
    height: 1px
}


/* copied from ionic's .item-input-inset without the padding.
   this (display) style is needed to get the input field and clear (x) button on the same row
   (Misschien maakte ik hier de fout door spaties tussen de elementen te hebben) */
.input-button-same-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/*the following two classes are a trick to get the ion-toggle higher in the button-bar*/

#btn-bar-toggle label.toggle {
    margin-top: -10px;
    padding-top: 0px;
}
#btn-bar-toggle div.handle {
    margin-top: -5px;
}

.select-calc-disabled-row {
    color: grey;
}